Copyright (c) Microsoft Corporation. All rights reserved.

Licensed under the MIT License.

# Exploring NYC Taxi data in Winter and Summer

Install azureml-opendatasets package

In [ ]:
!pip install pandas

In [19]:
import pandas as pd
import glob

# print(pd.read_csv('../../data/Taxi/yellow_tripdata_2019-01.csv'))
all_files = glob.glob('../../data/Taxi/*.csv')

df = pd.concat((pd.read_csv(f) for f in all_files))
print(df)

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1.0  2019-01-01 00:46:40   2019-01-01 00:53:20              1.0
1             1.0  2019-01-01 00:59:47   2019-01-01 01:18:59              1.0
2             2.0  2018-12-21 13:48:30   2018-12-21 13:52:40              3.0
3             2.0  2018-11-28 15:52:25   2018-11-28 15:55:45              5.0
4             2.0  2018-11-28 15:56:57   2018-11-28 15:58:33              5.0
...           ...                  ...                   ...              ...
6896312       NaN  2019-12-31 00:07:00   2019-12-31 00:46:00              NaN
6896313       NaN  2019-12-31 00:20:00   2019-12-31 00:47:00              NaN
6896314       NaN  2019-12-31 00:50:00   2019-12-31 01:21:00              NaN
6896315       NaN  2019-12-31 00:38:19   2019-12-31 01:19:37              NaN
6896316       NaN  2019-12-31 00:21:00   2019-12-31 00:56:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 1.50         1.0                  N           151
1                 2.60         1.0                  N           239
2                 0.00         1.0                  N           236
3                 0.00         1.0                  N           193
4                 0.00         2.0                  N           193
...                ...         ...                ...           ...
6896312          12.78         NaN                NaN           230
6896313          18.52         NaN                NaN           219
6896314          13.13         NaN                NaN           161
6896315          14.51         NaN                NaN           230
6896316         -17.16         NaN                NaN           193

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 239           1.0         7.00   0.50      0.5        1.65
1                 246           1.0        14.00   0.50      0.5        1.00
2                 236           1.0         4.50   0.50      0.5        0.00
3                 193           2.0         3.50   0.50      0.5        0.00
4                 193           2.0        52.00   0.00      0.5        0.00
...               ...           ...          ...    ...      ...         ...
6896312            72           NaN        32.32   2.75      0.5        0.00
6896313            32           NaN        51.63   2.75      0.5        0.00
6896314            76           NaN        38.02   2.75      0.5        0.00
6896315            21           NaN        41.86   2.75      0.0        0.00
6896316           219           NaN        44.62   2.75      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                0.00                    0.3          9.95
1                0.00                    0.3         16.30
2                0.00                    0.3          5.80
3                0.00                    0.3          7.55
4                0.00                    0.3         55.55
...               ...                    ...           ...
6896312          6.12                    0.3         41.99
6896313          6.12                    0.3         61.30
6896314          6.12                    0.3         47.69
6896315          6.12                    0.3         51.03
6896316          0.00                    0.3         48.17

         congestion_surcharge
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
6896312                   0.0
6896313                   0.0
6896314                   0.0
6896315                   0.0
6896316                   0.0

[40908284 rows x 18 columns]